body {
    margin: 0;
    padding: 0;
    background-image: url(addressbook-pt2.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#contactForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    background-color: grey;
    width: 400px;
    margin: 0 auto;
    text-align: end;
    text-align: left;
    background-color: rgb(179, 178, 176, 0.6);
    border-radius: 5px;
}

#contactForm h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.input-boxes {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-left: 30px;
}

.input-boxes {
    margin: 0;
    padding: 10;
}

.buttonStyle {
    border-radius: 5px;
    padding: 10;
}

.box {
    display: flex;
    border: 1px solid;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    margin: 10px;
}